#event-data {
    margin-top: 2.5rem;

    & > div {
        display: flex;
        gap: 0.25rem;
        margin-bottom: 1.5rem;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }
}

#contact {
    margin-bottom: 3rem;
}

.event-header,
.customization-header,
.contact-header {
    display: flex;
    gap: 12px;
    svg {
        width: 24px;
        height: 24px;
    }
}

.customization-header,
.contact-header {
    margin: 50px 0 26px 0;
}